apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: titanic-api
  namespace: titanic-api
  labels:
    app: titanic-api
    release: prometheus
spec:
  selector:
    matchLabels:
      app: titanic-api
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
      - titanic-api
      - dev
      - staging
      - prod
