apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: titanic-api

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml
  - resourcequota.yaml

commonLabels:
  app.kubernetes.io/name: titanic-api
  app.kubernetes.io/managed-by: kustomize
