apiVersion: v1
kind: ResourceQuota
metadata:
  name: titanic-api-quota
  namespace: titanic-api
spec:
  hard:
    requests.cpu: "2"
    requests.memory: "2Gi"
    limits.cpu: "4"
    limits.memory: "4Gi"
    pods: "20"
